*:focus {
  outline: none;
}
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authForm {
  background: var(--normalBlue);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.authSpan {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.authInput {
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.authHelpLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}
.helpLink {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}
.authBtn {
  width: 100%;
}
.errorMsg {
  color: red;
}
.successMsg {
  color: green;
}
.msg {
  /* font-weight: bold; */
  text-align: center;
  margin: 0.25rem 0;
}
