.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--normalBlue);
}

.loadingText {
  margin: 2rem 0;
  color: white;
}
